li {
  list-style: none;
}

h2 {
  color: #596e79;
  font-style: italic;
  text-align: center;
  box-sizing: content-box;
  padding: 20px;
  margin-bottom: 22px;
  margin-top: 20px;
  background-color: #c3cfe2;
}
h3 {
  text-align: center;
  font-size: 30px;
}
h4 {
  text-align: center;
  font-size: 20px;
  color: #2c5d63;
}

.container {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  max-width: 1000px;
  border: 1px solid #fff;
  margin: 50px auto;
  margin-bottom: 8px;
  padding: 20px;
}

.description {
  text-transform: capitalize;
}
small .github-link {
  text-align: center;
  font-size: 80%;
  font-weight: 600;
}

.weather {
  margin-top: 8px;
  color: #596e79;
  font-size: 23px;
}

ul {
  text-align: center;
  font-size: 19px;
  color: #596e79;
  position: relative;
  bottom: 100px;
  right: 120px;
}

.btn-success {
  color: #fff;
}
