body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  max-width: 1000px;
  border: 1px solid #fff;
  margin: 50px auto;
}

li {
  list-style: none;
}
.weather {
  margin-top: 8px;
  color: #596e79;
}

.more-weather {
  margin-left: 0px;
  color: #596e79;
  text-align: center;
}
h2 {
  color: #596e79;
  font-style: italic;
  text-align: center;
  box-sizing: content-box;
  padding: 20px;
  margin-bottom: 22px;
  margin-top: 20px;
  background-color: #c3cfe2;
}
h3 {
  text-align: center;
  font-size: 30px;
}
h4 {
  text-align: center;
  font-size: 20px;
  color: #2c5d63;
}
footer {
  text-align: center;
}

table {
  position: relative;
  height: 200px;
  width: 50%;
  margin-left: 270px;
  margin-top: 50px;
  color: #596e79;
}
td {
  border: 1px solid #fff;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: #596e79;
}

.read {
  text-align: center;
}

.card-group {
  margin-top: 30px;
  margin-bottom: 14px;
}

.row .first {
  position: relative;
  top: 120px;
}
.row .second {
  position: relative;
  top: 120px;
}
.row .third {
  position: relative;
  top: 120px;
}
.more-info {
  text-align: center;
  position: absolute;
  background: #c3cfe2;
  margin-left: 400px;
  margin-bottom: 200px;
  margin-top: -20px;
  padding: 20px;
  border-radius: 4px;
}
.comment {
  text-align: center;
}
.tonight {
  text-align: center;
  position: fixed;
  background: #c3cfe2;
  margin-left: 420px;
  margin-bottom: 200px;
  margin-top: -20px;
  padding: 0px 10px;
  border-radius: 4px;
  color: #596e79;
}
.astrology {
  text-align: center;
}
.btn-success {
  color: #fff;
}

.sun {
  text-align: center;
}
.card-text {
  color: #596e79;
}
